* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@font-face {
    font-family: 'Krungthep';
    src: url('../fonts/Krungthep.woff2') format('woff2'),
        url('../fonts/Krungthep.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background: #F7FDFD;
}
#politica {
    background: lavenderblush;
}
#home_listas {
    background: #F7FDFD;
}
#welcome {
    background-color: #F7FDFD;
}
#start img {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 25%;
    left: 30%;
}
#start p {
    font-size: 1.2rem;
    position: absolute;
    top: 45%;
    left: 19%;
    color: #B5B5B5;
    font-weight: 100;
}
.botonera {
    background: #1ED4A9;
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    z-index: 100;
}
.botonera ul li {
    display: block;
    width: 20vw;
    height: 10vh;
    float: left;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.botonera ul li:hover {
    background: #459683;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.botonera .guardado {
    background-image: url(../img/Botón-Guardados.svg);
}
.botonera .guardado:hover {
    background-image: url(../img/Botón-Guardados.svg);
}
.botonera .reservado {
    background-image: url(../img/Botón-Reservados.svg);
}
.botonera .reservado:hover {
    background-image: url(../img/Botón-Reservados.svg);
}
.botonera .home {
    background-image: url(../img/Botón-home.svg);
}
.botonera .home:hover {
    background-image: url(../img/Botón-home.svg);
}
.botonera .categoria {
    background-image: url(../img/Botón-Categorias.svg);
}
.botonera .categoria:hover {
    background-image: url(../img/Botón-Categorias.svg);
}
.botonera .chats {
    background-image: url(../img/Botón-Chats.svg);
}
.botonera .chats:hover {
    background-image: url(../img/Botón-Chats.svg);
}
.cabeza {
    width: 100vw;
    height: 14vh;
    background-image: url(../img/cabeza.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index: 100;
}
.cabeza ul li {
    width: 33.33vw;
    height: 14vh;
    display: block;
    float: left;
    background-position: 30% 40%;
    background-repeat: no-repeat;
    background-size: 40px;
}
.cabeza .ajustes {
    background-image: url(../img/Botón-Preferencias.svg);
}
.cabeza .eventify {
    font-size: 1rem;
    color: #F7FDFD;
    text-align: center;
    line-height: 7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cabeza .perfil {
    background-image: url(../img/Botón-Perfil.svg);
    background-position: 70% 45%;
}

/* modo de visualización */
.modos {
    width: 188px;
    height: 52px;
    background-color: #1ED4A9;
    position: fixed;
    bottom: 87px;
    left: 100px;
    border-radius: 20px 20px 0 0;
    z-index: 100;
}
.modo {
    width: 60px;
    height: 50px;
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    border: 2px solid #F7FDFD;
}
.modo:hover {
    background-color: #459683;
}
.modo.listas {
    background-image: url(../img/menu-hamburger_broken.svg);
    border-right: none;
    border-left: none;
}
.modo.calendario {
    background-image: url(../img/calendar_outline_blanco.svg);
    border-radius: 20px 0 0 0;
}
.modo.mapa {
    background-image: url(../img/Icon-gis-poi-o-blanco.svg);
    background-size: 40%;
    border-radius: 0 20px 0 0;
}
#home_listas .modo.listas {
    background-color: #459683;
}
#home_maps .modo.mapa {
    background-color: #459683;
}
#home_calendario .modo.calendario {
    background-color: #459683;
}


/* welcome */
.welcomefoto {
    width: 120%;
    height: 55vh;
    border-radius: 50%;
    position: fixed;
    left: -10%;
    top: -20vh;
    background-image: url(../img/Enmascarar\ grupo.png);
    background-position: center bottom;
    background-size: 140%;
}
.logo_eventify {
    width: 12rem;
    height: 12rem;
    top: 40%;
    left: 26%;
    position: absolute;
    margin: auto;
}
#iniciar, #registrar, #user, #admin {
    display: block;
    position: absolute;
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #F7FDFD;
    top: 80%;
    left: 10%;
    border-radius: 20px;
    background: #1ED4A9;
    border: none;
    box-shadow:  3px 3px 8px lightgrey;
}
#iniciar:hover, #registrar:hover, #user:hover {
    background: #459683;
}
#registrar, #user {
    top: 70%;
}
#admin {
    background: #F8AC4F;
}
#admin:hover {
    background: #E09539;
}

/* header grande */
.header {
    width: 100%;
    height: 30vh;
    background-image: url(../img/header-login.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.back {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 10%;
    left: 3%;
    border: none;
    background-color: transparent;
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/back.svg);
}
.page {
    position: absolute;
    width: 100%;
    left: 7%;
    top: 11vh;
    font-size: 2.5rem;
    color:#F7FDFD;
    font-weight: 500;
    font-family: Krungthep;
}
#register .page {
    left: 15%;
}

/* home listas */
.blogs {
    width: 80%;
    height: 200vh;
    margin: auto;
    position: absolute;
    top: 8rem;
    left: 10%;
    z-index: 1;
}
.blog {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #F7FDFD;
    margin-bottom: 2rem;
    border-radius: 20px;
    border: solid 2px #1ED4A9;
}
.fotoblog {
    width: 100%;
    height: 70%;
    background-color: red;
    border-radius: 19px 19px 0 0;
    background-image: url(../img/tres-hermosas-chicas-sonrientes-posando-fiesta-holi.png);
    background-size: cover;
}
#home_listas h2, #home_listas p {
    position: relative;
    left: 15px;
}
#home_listas h2 {
    font-weight: 400;
    top: 15px;
}
#home_listas p {
    width: 100%;
    top: 35px;
    font-weight: 200;
    left: 35px;
    font-size: 0.9rem;
}
.iconos {
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0;
    z-index: 30;
}
.horario, .direccion, .autor {
    position: relative;
    width: 15px;
    height: 15px;
    left: 15px;
    top: 42px;
    margin-top: 2.5px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.horario {
    background-image: url(../img/calendar_outline.svg);
}
.direccion {
    background-image: url(../img/Icon\ gis-poi-o.svg);
    background-size: 70%;
}
.autor {
    background-image: url(../img/bxs-user-circle.svg);
}
.corazon {
    appearance: none;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../img/heart_outline.svg);
    background-size: contain;
    right: 15px;
}
.corazon:checked {
    background-image: url(../img/heart_outline_relleno.svg);
}
.share {
    width: 25px;
    height: 25px;
    appearance: none;
    position: absolute;
    background-image: url(../img/share-alt.svg);
    background-size: contain;
    bottom: 15px;
    right: 15px;
}
label {
    width: 100%;
    height: 100%;
    background: lightgrey;
    opacity: 1;
}

/* hearder normal */
.header.normal {
    width: 100vw;
    height: 14vh;
    background-image: url(../img/cabeza.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index: 100;
}
.back.normal {
    top: 30px;
}
.page.normal {
    top: 40px;
    left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
}

/* Perfil */
.perfil {
    width: 80%;
    height: 100vh;
    margin: auto;
}
.fotoperfil {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #459683;
    top: 20%;
    border-radius: 50%;
    margin: auto;
}
.subirfoto {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #1ED4A9;
    top: 15%;
    border-radius: 50%;
    left: 56%;
    border: 4px solid #F7FDFD;
    color: #F7FDFD;
    font-size: 3rem;
    text-align: center;
    line-height: 2.5rem;
}
.form {
    position: relative;
    width: 100%;
    height: 53vh;
    background-color: #F7FDFD;
    border: 2px solid #1ED4A9;
    border-radius: 20px;
    top: 20%;
}
#miperfil label {
    background-color: transparent;
    color: #B5B5B5;
    position: relative;
    left: 5%;
    top: 1%;
}
#miperfil input[type=text]{
    appearance: none;
    position: relative;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #1ED4A9;
    width: 90%;
    height: 30px;
    left: 5%;
    top: 1%;
    margin-bottom: 1%;
}
#miperfil input[type=text]:focus {
    border: #1ED4A9;
}
.cuenta {
    position: relative;
    top: 21%;
    width: 100%;
}
.cuenta li {
    position: relative;
    float: left;
    list-style: none;
    font-size: 1.2rem;
    font-style: italic;
    color: #1ED4A9;
    text-decoration: underline solid #1ED4A9;
}
.cuenta .guardar {
    float: right;
}

/* home calendario */
#home_calendario .anuncio {
    width: 100vw;
    height: 40vh;
    background-image: url(../img/tres-hermosas-chicas-sonrientes-posando-fiesta-holi.png);
    position: relative;
    bottom: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
}
#home_calendario .cuadropaco{
    width: 20rem;
    height: 8rem;
    border-radius: 1.5rem;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(3px);
    position: relative;
    top: 10.5rem;
    margin: 0 auto;
    z-index: -9;
}
#home_calendario h2{
    color: white;
    opacity: 100%;
    font-size: 2rem;
    text-align: center;
    padding-top: 1.5rem;
}
#home_calendario .flechaizq{
    height: 1.313rem;
    width: 1.313rem;
    position: absolute;
    top: 3.5rem;
    left: 0.5rem;
    background-image: url(../img/flechaizq.svg);
}
#home_calendario .flechader{
    height: 1.313rem;
    width: 1.313rem;
    position: absolute;
    top: 3.5rem;
    left: 18rem;
    background-image: url(../img/flechader.svg);
}

#home_calendario .contbolitas{
    width: 5rem;
    height: 1rem;
    position: relative;
    left: 10.5rem;
    bottom: 11.6rem;
}
#home_calendario .bolitas{
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: white;
    float: left;
    margin: 0.140rem;
}
#home_calendario .verde{
    background: #1ED4A9;
}

#home_calendario .ciudades{
    width: 21.375rem;
    height: 2.313rem;
    background-color: white;
    box-shadow: 3px 3px 8px lightgrey;
    position: relative;
    bottom: 11rem;
    left: 1.6rem;
    border-radius: 0 0 1.5rem 1.5rem;
}
#home_calendario h3{
    color: #1ED4A9;
    font-size: 1rem;
    float: left;
    margin: 0.5rem 1rem 0 1rem;
    font-weight: 400;
}
#home_calendario .cursiva{
    float: right;
    text-decoration: underline;
    font-style: italic;
}
#home_calendario .flechaizqmes{
    height: 1.313rem;
    width: 1.313rem;
    position: absolute;
    top: 22.5rem;
    left: 5rem;
    background-image: url(../img/flechaizq.svg);
}
#home_calendario .meses{
    color: #1ED4A9;
    position: relative;
    bottom: 11.5rem;
}
#home_calendario .flechadermes{
    height: 1.313rem;
    width: 1.313rem;
    position: absolute;
    top: 22.5rem;
    left: 18.4rem;
    background-image: url(../img/flechader.svg);
}
#home_calendario .fecha{
    position: relative;
    margin: 0.5rem;
    bottom: 11.5rem;
    left: 9rem;
}

#home_calendario .contenedorcajitas{
    width: 22.5rem;
    position: absolute;
    bottom: -47rem;
    left: 1rem;
}
#home_calendario .cajitas{
    width: 6.25rem;
    height: 6.25rem;
    background: #B7F1E5;
    border: #1ED4A9 1px solid;
    border-radius: 1.5rem;
    margin: 0.5rem;
    float: left;
}
#home_calendario h4{
    font-size: 2.5rem;
    text-align: center;
    line-height: 6rem;
    color: white;
}
#home_calendario .oscuro{
    width: 6.30rem;
    height: 2rem;
    border-radius: 0 0 1rem 1rem;
    border: #1ED4A9 1px solid;
    position: relative;
    bottom: 1.5rem;
    right: 0.1rem;
    background: #F7FDFD;
}
#home_calendario .blog_top {
    position: absolute;
    top: 8rem;
}

/* home maps */

#home_maps iframe{
    width: 100%;
    height: 48rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
}

/* login user */
#login_user .email input{
    margin-left: 50px;
    margin-top: 5px;
    width: 290px;
    height: 40px;  
    border-radius: 5px;
    border-color: #1ED4A9;
    background-color: #F7FDFD; 
}

#login_user .password input{
    margin-left: 50px;
    margin-top: 5px;
    width: 290px;
    height: 40px;  
    border-radius: 5px;
    border-color: #1ED4A9;
    background-color: #F7FDFD; 
}

#login_user .email p{
    margin-top: 110px;
    margin-left: 50px;
    color: grey;
}

#login_user .password p{
    margin-top: 30px;
    margin-left: 50px;
    color: grey;
}

#login_user .text h3{
    margin-left: 170px;
    font-size: 14px;
    margin-top: 10px;
    color: #1ED4A9;
    font-style: italic;
}

.text_cuenta{
    text-align: center;
    font-size: 12px;
    margin-top: 145px;
    margin-left: 60px;
}
#login_user .page.normal {
    left: 130px;
}
#login_user #iniciar {
    top: 82%;
}
#login_user .blog_iniciar{
    position: absolute;
    top: 5rem;
}

/* olivida la contraseña */
#login_olivida .page.normal{
    left: 90px;
    font-size: 1.5rem;
}
.verificar input{
    margin-left: 50px;
    margin-top: 50px;
    width: 290px;
    height: 40px;  
    border-radius: 5px;
    border-color: #1ED4A9;
    background-color: #F7FDFD; 
}
 .verificar p{
    margin-top: 170px;
    margin-left: 50px;
    width: 300px;
    color: grey;
}
#login_olivida #iniciar{
    top: 50%;
}

/* Verificar contraseña */

#login_verificar .page.normal{
    left: 120px;
    font-size: 1.5rem;
}
#login_verificar .codigo {
    position: relative;
    top: 10rem;
    width: 80%;
    margin: auto;
}
#login_verificar .text_cuenta {
    margin-left: 0px;
}
#login_verificar #iniciar {
    top: 45%;
}
